@import url(https://fonts.google.com/specimen/Roboto?selection.family=Roboto);
body {
  margin: 0px;
}
nav {
  padding: 24px;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
body, html {
    height: 100%;
}
#about-me-menu {
  background: rgb(241 ,233, 229) ;
  color: rgb(72,66, 62);
  font-size: 20px;
  text-decoration: none;

}

.link {
  color: rgb(72,66, 62);
  text-decoration: none;
  transition: 0.3s ease;
  background:rgb(241 ,233, 229);
  border-top: 4px solid rgb(241 ,233, 229);
  border-bottom: 4px solid rgb(241 ,233, 229);
  padding: 20px 0;
  margin: 0 20px;
}

.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

/* The hero image */
.about-me-title-screen {
      /* The image used */
    background-image: url("../images/background.jpeg");

/* Add the blur effect */

  /* Full height */
  height: 40%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 
/* Position text in the middle of the page/image */
.hero-text {
  /*background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(250, 245 ,240, 0.75); /* Black w/opacity/see-through */
  color: rgb(72, 66, 62);
  font-weight: bold;
  border: 7px solid rgb(173, 167, 160) ;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 2;*/
  width: 45%;
  padding: 20px;
  text-align: center;
}